.main-container {
    width : 100%;
    
}

.sign-up-page{
    margin-top: 2%;
    text-align: center;
}

.sign-up-container-outer {
    display: inline-block;
    width: 700px;
    /* margin-left: 30% */
    /* width: 600px; */
}
.sign-up-button-container{
    text-align: left;
    margin-left: 15%;
}

.sign-up-container-inner{
    margin-left: 35%;
}