.p-panelmenu{
    width: 20%;
    height: 95vh;
    float: left;
    padding: 6px;
    background-color: aliceblue;
   
}


/* .p-component{
    background-color: aliceblue;
} */

/* .p-panelmenu .p-panelmenu-header > a{
    background-color: rgb(104, 113, 238) !important;
    color : white;
} */
.p-panelmenu-content{
    
}


.p-panelmenu-panel{
    border : none;
   
    
    
}
.p-submenu-list{
    /* background-color: blue; */
    
}

.sideBar{
	height: 100%;
	width: 16%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #142850;
	overflow-x: hidden;
	padding-top: 20px;
}

.sideBar a, .dropdown-btn{
	padding: 6px 0px 6px 0px;
  text-decoration: none;
  font-size: 16px;
  color: #a6b1e1;
  border: none;
  background: none;
	width:100%;
	height: 50px;
  text-align: left;
  cursor: pointer;
	outline: none;
	margin-top: auto;
}

.navMenu{
	margin-top: 85px;
}

.sideBar a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sideBar */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #1A4D84;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #133860;
  padding-left: 8px;
}

.dropdown-container a {
	padding-left: 16px;
	display: block;
}

.dropdown-container a:hover{
	color: #f1f1f1;
	text-decoration: none;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}