.document-header-container{
    margin-left: 10px;
    background-color: #3a47a7;
    width: 98%;
    height: 70px;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;

   
    /* border: 1px solid black; */

}
.document-id-container{
    text-align: center;
    width:50%;
    height : 100%;
    float:left;
    border-right: 2px solid white;
    margin-right: 20px;
}

.project-id-container{
    text-align: center;
    width: 45%;
    height:100%;
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }