.table-on-green{
    background: rgb(57, 158, 102) !important;  
}

.table-on-red{
    background: rgb(194, 78, 46) !important;  

}

.details-project-id-container{
	display: table-row;
}
.details-input-label{
	
	display: table-cell;
	
    font-family: Rubik;
    font-weight: lighter;
    font-size:14px;
}

.pipeButton, .coatingButton{
    margin-left: 5px;
    margin-right: 5px;
    color: whitesmoke;
    background-color: cornflowerblue;
    height: 50px;
    width: 100px;
}

.active{
    background-color: #202b7d;
    box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.7);
}

.actionBtn{
    margin-left: 5px;
    margin-right: 5px;
    color: whitesmoke;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}