.p-steps-item{
    padding : 0;
    margin : 0;
}



.p-datatable .p-datatable-thead >  tr th div{
    float: left;
}

.p-datatable .p-datatable-thead >  tr th span{
    float: left;
}

tr.p-highlight {
    background-color: #f9f9f9 !important;
}

.spinner-container {
    text-align: center;
}

/* @keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #03378a;
    }
    40% {
        stroke: #1163e7;
    }
    66% {
        stroke: #4686ec;
    }
    80%,
    90% {
        stroke: #1a54b3;
    }
} */


.pieRow {
    padding: 25px;
    background: #fff;
    border-radius: 7px;
    padding-bottom: 60px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}

.pieCol {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.card {
    margin-left: -7px !important;
    margin-right: -7px !important;
    margin-top: 25px;
    border-radius: 7px !important;
}

.barTitle {
    padding-bottom: 25px;
}

.subscreens {
    padding: 25px;
    background: #ffff;
    border-radius: 10px;
}

.progress-container {
    margin-bottom: 10px;
}