

.details-container{
    
	margin-left: 30% ;
	width: 400px;
	margin:auto;
}

.details-form-container{
	width: 100%;
	display: table;
}

.details-customer-container{
	display: table-row;

}
.details-project-id-container{
	display: table-row;
}
.details-title-container{
	display: table-row;
	
}
.details-type-container{
	display: table-row;
}
.details-empty-container{
	display: table-row;
}
.details-input-label{
	
	display: table-cell;
	
    font-family: Rubik;
    font-weight: lighter;
    font-size:14px;
}

#title{
	display: table-cell;
	width: 250px;;
}
#customer{
	display: table-cell;
	width: 250px;;
}
#type{
	display: table-cell;
	width: 250px;;
}
#projectId{
	display: table-cell;
	width: 250px;;
}

.details-submit{
    width: 100%;
	height: 45px;
	
    border-radius: 10px;;
    margin-top: 30px !important;
    background: none;;
    vertical-align: center;
}

.details-save-container{
	margin:10px;
	float: right;
}
.details-save{
	width: 100px;
	height:30px;
	background-color: rgba(21, 167, 99, 0.979);
	color: white;
	border:none;
	cursor: pointer;;
	border-radius: 10px;
}
.details-save > span{
	font-size: 16px;
	
	
}

.details-withdraw-container{
	margin:10px;
	float: right;
}
.details-withdraw{
	width: 100px;
	height:30px;
	background-color: rgba(235, 33, 67, 0.979);
	color: white;
	border:none;
	
	border-radius: 10px;
}
.details-withdraw > span{
	font-size: 16px;	
}

.upload-label{
	width: 100%;
	/* border-top: 2px solid rgb(233, 233, 250); */
	margin : 10px;
	margin-left: 0px;;
    padding: 5px;
    font-family: Rubik;
} 

.divider{
	border-right: 1px solid #ced4da;
}
.upload-label-2{
	width: 100%;
	/* border-top: 2px solid rgb(233, 233, 250); */
	margin-top : 10px;
	margin-left: 0px;;
    padding: 5px;
    font-family: Rubik;
} 
.pipe-upload{
    margin-bottom: 10px;
}
.inner-coating-upload{
    margin-bottom: 10px;
}
.outer-coating-upload{
    margin-bottom: 10px;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.progress-container {
	font-family: Rubik;
	width: 100%;
	margin-top: 10px;
	margin-left : 8px;
}

.progress-wrapper {
	margin-left: 2%;
	/* display: table-cell; */
    /* height: 400px; */
    
	/* vertical-align: middle; */
}

.progress-steps .progress-step {
	font-size: 16px;
	width: 16%;
	text-align: center;
	color: white;
	cursor: pointer;
	margin: 0 2px;
	
	padding: 10px 10px 10px 10px;
	min-width: 181px;
	float: left;
	position: relative;
	/* background-color: #3a47a7; */
	-webkit-user-select: none;
	/* -moz-user-select: none; */
	-ms-user-select: none;
	background-image: linear-gradient(to bottom, #3a47a7 0%, #202b7d 51%, #04273d 100%);
  transition: background-color 0.2s ease;
}

/* .progress-steps .progress-step:after,
.progress-steps .progress-step:before {
	
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 21px solid transparent;
	border-left: 17px solid #3a47a7;	
	z-index: 2;
  transition: border-color 0.2s ease;
} */

.progress-steps .progress-step span {
	position: relative;
}

.progress-steps .progress-step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.progress-steps .progress-step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.progress-steps .progress-step.progress-current {
	color: #fff;
	border-bottom: 4px solid #007eff;
	box-shadow: 0 10px 6px -6px black;
}

.progress-steps .progress-step.progress-current:after {
	border-left: 17px solid #0A1359;	
}

.loading-bar{
	margin-top: 200px;
}

.auto-complete {
	font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.429em;
    border: 1px solid #a6a6a6;
    -moz-transition: border-color 0.2s, box-shadow 0.2s;
    -o-transition: border-color 0.2s, box-shadow 0.2s;
    -webkit-transition: border-color 0.2s, box-shadow 0.2s;
    transition: border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.downloadButton{
	margin-right: 2px;
	border: 1px solid black;
	width: 100px;
	height: 35px;
	border-radius: 2px;
	padding: 5px;
}


.save-button{
	width: 20%;
	height: 48px;
	border-radius: 4px;
	color: whitesmoke;
	margin-top: 10px;
	margin-left: 40%;
 }
 .btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)}
 .btn-grad:hover { background-position: right center; }