.banner{
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);

    background-size: cover;
    background-position: top;

    /* add width  and height to top level, provided by props */
    width: 100vw;
    height: 75px;
    align-content: center;
    position: fixed;
    z-index: 9999999;
    box-shadow: 1px -2px 12px rgba(0, 0, 0, 0.5);
}
.banner-heading-primary{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1.5px;
    color:white;
}

.copyright {
    padding:0px;
    color:#858e96;
    font-size: 12px;
    margin-top: 0;
    text-align: center;
  }

  .copyright-link{
      text-decoration: none;;
      color: white;
  }

  .copyright-link.active {
      background-color: none;
  }

  .sign-out-icon {
      float: right;
      margin-top: 10px;
      margin-right: 20px;
  }