.banner{
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);
    background: -webkit-linear-gradient(left, #3a47a7, #0A1359);

    background-size: cover;
    background-position: top;

    /* add width  and height to top level, provided by props */
    width: 100vw;
    height: 70px;
    align-content: center;
    top: 0px;
    position: fixed;
    z-index: 9999999;
    box-shadow: 1px -2px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1500px){

  .banner{
    height: 85px;
  }

  .sign-out-icon{
    margin-top: 10px;
  }

  .banner-heading-primary{
    padding-top: 18px !important;
  }

}

.banner-heading-primary{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1.5px;
    color:white;
}

.copyright {
    padding:0px;
    color:#858e96;
    font-size: 12px;
    margin-top: 0;
    text-align: center;
    margin-left: 10px;
  }

  .copyright-link{
      text-decoration: none;;
      color: white;
  }

  .copyright-link.active {
      background-color: none;
  }

  .sign-out-icon {
    float: right;
    margin-right: 20px;
    font-size: 31px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1.5px;
    color:white;
    display: inherit;
    cursor: pointer;
  }

  .username-text{
    font-size: 25px;
    padding-top: 3px;
  }

.sidebar .nav-link.active .nav-icon {
  color: #ffffff;
}


.sidebar {
  margin-top: 85px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  height: 60px !important;
}


.sidebar, .sidebar .sidebar-nav, .sidebar .nav {
  width: 230px !important;
}



@media (max-width: 991.98px){

  html:not([dir=rtl]) .sidebar {
      margin-left: -230px ;
  }
}


.sidebar .nav-link {
    text-transform: capitalize;
}

.sidebar .nav-link:hover {
    background: #3a4248 !important;
}

.p-button-text {
  background: -webkit-linear-gradient(left,  #3a47a7, #0A1359);
  background: -o-linear-gradient(left,  #3a47a7, #0A1359);
  background: -moz-linear-gradient(left,  #3a47a7, rgb(10, 19, 89));
  background: linear-gradient(left,  #3a47a7, #0A1359);
}

.logo {
  padding-left: 20px;
  width: 200px;
  color: whitesmoke;
  font-size: 2.5rem;
  font-weight: 300;
}

.userProfileButton {
  border-radius: 50%;
  /* background-color: whitesmoke; */
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  border: 1px solid white;
}