
.save-button{
   width: 200px;
   height: 48px;
   border-radius: 4px;
   color: whitesmoke;
   margin-top: 10px;
}
.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)}
.btn-grad:hover { background-position: right center; }