.button-header{
   margin-left:83%;
   padding: 10px;
   padding-right:0px;
   width: auto;
  
   display: table;
   /* overflow: auto; */
   
}

.save-container{
   display: table-cell;
   padding-right: 7px;
   width: auto;
}

.delete-container{
   display: table-cell;
   width: auto;
  

}
